<!DOCTYPE html>
<html>
<head>
  <title>Country App</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src='index.js'></script>
</head>
<body>
  <div class="terminal-window">
    <header>
      <div class="button green"></div>
      <div class="button yellow"></div>
      <div class="button red"></div>
    </header>
    <section class="terminal">
      <div class="history"></div>
      $&nbsp;<span class="prompt"></span>
      <span class="typed-cursor"></span>

    </section>
    <div class="app-output">
<div class="title-art">
    <pre>
//////////////////////////////////////////////////////////////////////////
||                _____ _____ _   _  _   _   ___ _____                 ||
||              |_   _|_   _| \ | || | | | / _ \_   _|                 ||
||                | |   | | |  \| || |_| |/ /_\ \| |                   ||
||                | |   | | | . ` ||  _  ||  _  || |                   ||
||                | |  _| |_| |\  || | | || | | || |                   ||
||                \_/  \___/\_| \_/\_| |_/\_| |_/\_/                   ||
//////////////////////////////////////////////////////////////////////////
</pre>

<div class="quote">"People always make the best exploits."</div>

</div>

<div class="form">
  Check account:
  <input type="text" id="email">
<div class="button">
  <buton id="breach">SUBMIT</buton>
</div>

</div>

</body>
</html>
