<!DOCTYPE html>
<html>
<head>
  <title>Tinhat</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src='index.js'></script>
</head>
<body>
  <div class="terminal-window">
    <header>
      <div class="button green"></div>
      <div class="button yellow"></div>
      <div class="button red"></div>
    </header>
    <section class="terminal">
      <div class="history"></div>
      $&nbsp;<span class="prompt"></span>
      <span class="typed-cursor"></span>

    </section>
    <div class="app-output">

      <div class="grid-container">
        <div class="grid-item">
          <div class="title-art">Tinhat/div>

          <div class="quote">"People always make the best exploits."</div>

        </div>

        <div class="grid-item">
          <div class="quote">
            <img src="https://i2.wp.com/24.media.tumblr.com/tumblr_mdn5s0Q7Ht1r66g9jo1_500.gif?zoom=2" alt="">
          </div>
        </div>
        <div class="grid-item">
        </div>
        <div class="grid-item">
          <div class="form">
            Check account:
            <input type="text" id="email" placeholder="Enter you email account" value="">
            <buton class="email=button" type="button" id="breach">SUBMIT</buton>
          </div>
        </div>
        <div class="grid-item">
          <div class="btm-border">Powered by 'Have You Been Pwned'</div>
        </div>
      </div>




      <div id="list-of-breaches"></div>

    </body>
    </html>
